<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JSAIN</title>
    <link href='http://fonts.googleapis.com/css?family=Geostar+Fill' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>
    /*#reply {list-style-type: none; margin:0; padding: 0;}
    #reply li { padding:5px 10px; }
    #reply li:nth-child(odd) {background: #5F5F5F}
    #replyBox {height:200px;width:200px;color:black;}
    li {color:black;}
    .overflow { height: 200px; overflow-y: scroll; overflow-x: hidden;}*/
    /*body { background-color: #DF231A;}*/
  </style>

  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body class="container-fluid">
<center>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How to use JSAIN</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<h1 id="title">J.S.A.I.N</h1>
<h2>Say Hello</h2>
<br>
<div>
<span id ="eye" class="glyphicon glyphicon-eye-open">
<div id="glow"></div>
</span>
</div>
<div id="replyBox" class="overflow well well-lg">
  <ul id="reply"></ul>
</div>

<form id="commForm" action="">
  <input id="command" autocomplete="on" type="text">
  <input size="100" id="inputSpace" type="submit" class="btn btn-success btn-lg">
</form>

<!-- Button trigger modal -->
<button id="helpButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  HOW TO USE
</button>


</center>
<script>
  


</script>



<!-- <script type="text/javascript" src="bundle.js"></script> -->
<!-- <script src="app.js"></script> -->

<script type="text/javascript" src="/javascript/main.js"></script>  
</body>
</html>







