<% include head.ejs %>
<center>


<!-- HELP MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How to use JSAIN</h4>
      </div>
      <div class="modal-body">
        <h4>Use keywords</h4>
        <p>ask -  followed by a question </p> 
        <p>flick -  followed by a movie title </p>
        <p>loc -  followed by a location </p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END OF HELP MODAL -->

<!-- GOOGLE MAP MODAL -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">HERE IS WHERE THAT IS</h4>
      </div>
      <div class="modal-body">
         <div id="map-canvas" style="width: 500px; height: 400px"></div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END OF GOOGLE MAP MODAL -->
<nav id="navstyle" class="navbar navbar-default navbar-fixed-top mynav">
    <div class="container">
      <ul>
      <a href="/"><div class="floatleft"><h1 id="title">J.S.A.I.N</h1></div></a> 
      <div class="floatright"><h4>Say Hello</h4><h4 id="nameDisplay"></h4></div>
      </ul>
    </div>

</nav>

<div class="row">
  
  <br>
  <div>
    <span id ="eye" class="glyphicon glyphicon-eye-open">
      <div id="glow"></div>
    </span>
  </div>

</div>


<div id="questBox">
  <h3 id="randQuest"></h3>
</div>

<div id="replyBox" class="overflow well well-lg">
  <ul id="reply"></ul>
</div>

<form id="commForm" action="">
  <textarea id="command" autocomplete="on" type="text" cols=60 rows=3 autofocus= true></textarea>
  <br>
  <input size="100" id="inputSpace" type="submit" class="btn btn-success btn-lg">
</form>

<!-- Button trigger modal -->
<button id="helpButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  HOW TO USE
</button>
<button id="questButton" type="button" class="btn btn-info btn-lg">
  RANDOM QUESTION
</button>
<button id="mapButton", type="button", data-toggle="modal" data-target="#mapModal"></button>

</center>


<!-- <script type="text/javascript" src="bundle.js"></script> -->
<!-- <script src="app.js"></script> -->
<% include foot.ejs %>







