<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JSAIN</title>

  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>
    /*#reply {list-style-type: none; margin:0; padding: 0;}
    #reply li { padding:5px 10px; }
    #reply li:nth-child(odd) {background: #5F5F5F}
    #replyBox {height:200px;width:200px;color:black;}
    li {color:black;}
    .overflow { height: 200px; overflow-y: scroll; overflow-x: hidden;}*/
    /*body { background-color: #DF231A;}*/
  </style>

  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body class="container-fluid">

<h1>J.S.A.I.N</h1>
<h2>Say Hello</h2>
<br>
<div id="replyBox" class="overflow">
  <ul id="reply"></ul>
</div>
<form id="commForm" action="">
  <input id="command" autocomplete="on" type="text">
  <input type="submit">
</form>

<script>  

</script>

<script type="text/javascript" src="/javascript/main.js"></script>  
</body>
</html>