<% include head.ejs %>
<center>
<h1>PICK A NAME AND COLOR</h1>

<h2 id="show"></h2><div id="example"></div>

<form id="userForm" action="javascript:void(0)">
  <input id="nameInput" type="text" autofocus=true>
  <input id="colorPick" type="color" name="background_color">
  <input size="100" class="btn btn-success btn-md" type="submit" value="choose">
</form>
<a href="/home" id="confirm" class="btn btn-primary btn-lg">CONFIRM?</a>
</center>
<% include foot.ejs %>