#reply {list-style-type: none; margin:0; padding: 0;}
#reply li { padding:5px 10px; }
#reply li:nth-child(odd) {background: #5F5F5F}
#replyBox {height:200px;width:200px;color:black;}
li {color:black;}
.overflow { height: 200px; overflow-y: scroll; overflow-x: hidden;}
body { background-color: #5E84AE;}